body {
    background-color: #eee;
}

.titlebox {
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    max-width: 800px;
    background-color: #fff;
    font-size: 180%;
    font-weight: bold;
}

.subsubtitle {
    margin-top: 5px;
    font-size: 60%;
    font-weight: normal;
}

.titre {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.page {
    background-color: #fff;
    border: 3px solid #aaa;
    border-radius: 5px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
}

.page > div {
    margin-top: 30px;
    margin-bottom: 30px;
}
.page > div:first-child {
    margin-top: 10px;
}
.page > div:last-child {
    margin-bottom: 10px;
}

.cachet > * {
    vertical-align: middle;
    margin-right: 10px;
}

.div_cachet_input {
    text-align: center;
    margin-bottom: 10px;
}

.div_cachet_prompt {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 10px;
}

button {
    margin-top: 5px;
    font-size: 130%;
}

#div_cachet_invalide, #div_cachet_valide {
    font-weight: bold;
    font-size: 100%;
}

#div_cachet_invalide > button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.span_ref {
    font-family: monospace;
    background-color: #eee;
    padding: 1px;
}

.ref_minor {
    font-size: 90%;
}

.ref_major {
    font-weight: bold;
    font-size: 110;
}

.span_bold {
    font-weight: bold;
}

textarea::placeholder {
    font-style: italic;
}

.footer > a:first-child {
    margin-right: 20px;
}

#imgaide {
    margin-top: 30px;
    text-align: center;
}
#imgaide > img {
    border: 1px solid black;
    padding: 3px;
}

.cachet_invalide {
    color: red;
}

.cachet_valide {
    color: green;
}

textarea.cachet_invalide {
    border-width: thick;
    border-color: red;
}

textarea.cachet_valide {
    border-width: thick;
    border-color: green;
}
